body {
    background: white;
}

.header-text-margin {
    margin: 0 0 0 10px;
}


.sub-navigation {
    height: 50px !important;
    margin: 0 !important
}

.margin-zero {
    margin: 0 !important;
}

.landing-page-buttons {
    color: white !important;
    margin-left: 5px !important
}

.landing-page-div-buttons {
    margin: 0 10px 0 auto !important
}

.landing-page-table {
    margin: 20px;
}

.registration-form {
    margin: 50px auto 50px auto;
    width: 500px;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
}

.login-forms {
    border-radius: 5px;
    margin: 50px auto 50px auto;
    width: 400px;
}

.registration-form-button {
    margin: 10px 0 0 11px;
}

.content {
    padding: 20px;
}

.select-style {
    color: #9e9e9e !important;
    font-size: 1rem !important;
    border: 1px solid #9e9e9e !important;
}

.row {
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 500px) {
    .login-forms, .registration-form {
        width: 90% !important;
    }
}